*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  position: relative;
  width: 250px;
  height: 400px;
  background-color: whitesmoke;
 display: inline-block;
  margin-top: 30px;
 
  margin: 60px;
}

.card{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  border-radius: 16px;
}

img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.title{
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.front{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: goldenrod;
  backface-visibility: hidden;
  border-radius: 16px;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: goldenrod;
  backface-visibility: hidden;
  border-radius: 16px;
  transform: rotateY(180deg);
  text-align: justify;
}


.card:hover{
  transform: rotateY(190deg);
}